#baseLayout {
  background-color: white;
  color: rgb(38, 38, 38);
  margin: auto;
  width: 50%;
  min-height: 50vh;
  /* text-align: center; */
  padding: 1.5rem 2rem;
  border-radius: 10px;
  border: 1px solid rgb(53, 53, 53);
}
